.App {
  text-align: center;
  margin: 0 4% 0 4%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header-container {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 5px whitesmoke solid;
}

.header {
  color: white;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 65px;
  background-color: white;
  width: 100%;
  border: 1px gray solid;
  border-radius: 10px;
  z-index: 10;
}

.top-container {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
}

.searchbar-container {
  width: 40%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.searchbar::placeholder {
  color: gray;
}

.bank-name-selector {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.name-label {
  font-size: x-small;
  margin-bottom: 3px;
}

.bank-name {
  width: 97%;
  height: 100%;
  outline: 0;
  border: 0;
  font-size: large;
  border-radius: 10px;
  padding-left: 3%;
  cursor: pointer;
}

.date-range-selector {
  width: 30%;
  display: flex;
  flex-direction: row;
}

.date-selector-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: larger;
}

.from-date-container {
  align-items: flex-start;
}

.to-date-container {
  align-items: flex-start;
}

.date-selector {
  width: 94%;
  height: 100%;
  border: 0;
  outline: 0;
  border-bottom: 2px whitesmoke solid;
  color: black;
  font-size: large;
  padding-left: 3%;
  padding-right: 3%;
}

.from-date {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.to-date {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.vertical-divider {
  height: 100%;
  width: 3%;
  background-color: white;
}

.view-toggle {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  width: 30%;
  margin-bottom: 2%;
}

.view-toggle-button {
  cursor: pointer;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border: 0.5px darkgray solid;
  width: 50%;
  font-size: medium;
}

.table-view-button {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: lightgrey;
}

.chart-view-button {
  color: lightgrey;
}

.top-categories-button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: lightgrey;
}

.table-view-button:hover {
  color: white;
  box-shadow: 0 0 5px #ffffff;
  font-size: large;
}

.chart-view-button:hover {
  color: white;
  box-shadow: 0 0 5px #ffffff;
  font-size: large;
}

.top-categories-button:hover {
  color: white;
  box-shadow: 0 0 5px #ffffff;
  font-size: large;
}

.data-container {
  margin-top: 2%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dropdown-item {
  display: flex;
  flex-direction: row;
}

.bank-dropdown-item {
  color: gray;
  padding-left: 5%;
  cursor: pointer;
  text-align: start;
}

.bank-dropdown-item:hover {
  color: black;
}

.bank-dropdown-checkbox {
  margin-right: 5%;
}

.horizontal-divider {
  width: 90%;
  height: 1px;
  background-color: gray;
  margin-left: 5%;
  margin-right: 5%;
}

/* Spin Animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
